# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS
.DS_Store

# VSCode
.vscode/

# Pytest cache
.pytest_cache/

# Other
*.log
*.sqlite3 